body {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

#header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center; /* Center content inside the header */
  width: 100%; /* Ensure it spans the width */
  margin-bottom: 20px; /* Add spacing below header */
}

#btn {
  font-size: large;
  background-color: azure;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  height: 800px;
  width: 800px;
  border: 2px solid black;
}

#square {
  background-color: white;
  cursor: pointer;
}
